@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inconsolata', 'Roboto Mono', Consolas, monospace;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.8px;
  color: #191919;
  background-color: #f7fdfe;
  padding: 6rem;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fafafa;
    background-color: #333;
  }

  img {
    filter: brightness(85%);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

h1,
h2,
p,
span {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: lowercase;
}

h1::before,
h2::before {
  content: '/ ';
  color: #808080;
  /* color: #28cdcd; */
  /* font-weight: 600; */
}

h1.go-home::before {
  content: '< ';
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

header,
main,
article {
  max-width: 60rem;
}

header {
  margin-bottom: 4rem;
}

main {
  margin-bottom: 2rem;
}

section span {
  color: #808080;
}

article h2 {
  margin-bottom: 2rem;
}

article p,
article img,
article .yt {
  line-height: 1.5;
  margin-bottom: 2rem;
}

article p {
  padding-right: 10%;
}

.yt {
  position: relative;
  padding-bottom: 56.25%;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #ccc;
}

*::-moz-selection {
  background-color: #ccc;
}

@media (max-width: 640px) {
  body {
    padding: 2rem;
  }

  h1,
  h2,
  p,
  span {
    font-size: 1.4rem;
  }
}

@media (max-width: 450px) {
  body {
    padding: 1.3rem;
  }
  header {
    margin-bottom: 2rem;
  }
  h1,
  h2,
  p,
  span {
    font-size: 1.2rem;
  }
  article h2,
  article p,
  article img {
    margin-bottom: 1rem;
  }
}
